.App {
  text-align: center;
}

body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  background: linear-gradient(rgb(163, 78, 247), rgb(127, 85, 247));
}

h1 {
  font-size: 40px;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  float: left;
  margin: 10px;
}